* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0269a4;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.dropbtn {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.dropdown-list {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.show {
    display: flex;
}

.model {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.add-container {
    margin-left: 10px;
}

#sudoku {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 506px;
    border: 1px solid #1d1d1d;
}

.item-box {
    width: 56px;
    height: 64px;
    font-size: 28px;
    padding: 15px 20px;
    border: 0.5px solid #1d1d1d;
    background-color: #00b4ab;
}

.number-input {
    font-size: 28px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#addBtn,
.checkBtn {
    padding: 0 10px;
    font-size: 20px;
    background-color: #FFD832;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.checkBtn {
    background-color: #FE7C00;
}

.red {
    background-color: #FE3900;
}

.green {
    background-color: #149140;
}